<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <title>Market</title>
        <link rel="shortcut icon" href="#">
        <link rel="stylesheet" href="/index.css">
    </head>
    <body>
        
        <%- include("./ejs/components/banner.ejs") %>
        
        <%- include("./ejs/pages/vendorInfo.ejs") %>
        <%- include("./ejs/pages/landing.ejs") %>
        <%- include("./ejs/pages/vendorRegistration.ejs") %>
        <%- include("./ejs/pages/login.ejs") %>
        <%- include("./ejs/pages/searchResults.ejs") %>
        <%- include("./ejs/pages/vendorAbout.ejs") %>
        <%- include("./ejs/modal.ejs") %>
    
        <script src="bundle.js"></script>
    </body>
</html>
